---
import type { Locale } from '../../i18n/utils';
import { useTranslations } from '../../i18n/utils';

interface Props {
  locale?: Locale;
  /** Unique ID suffix when multiple banners exist on a page (rare) */
  id?: string;
}

const { locale = 'en', id = 'default' } = Astro.props;
const t = useTranslations(locale);
const bannerId = `gov-banner-${id}`;
---

<section
  class="usa-banner"
  aria-label={t('site.tagline')}
>
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img
            aria-hidden="true"
            class="usa-banner__header-flag"
            src="/uswds/img/us_flag_small.png"
            alt=""
          />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
          <p class="usa-banner__header-text">{t('banner.headerText')}</p>
          <p class="usa-banner__header-action">{t('banner.headerAction')}</p>
        </div>
        <button
          type="button"
          class="usa-accordion__button usa-banner__button"
          aria-expanded="false"
          aria-controls={bannerId}
        >
          <span class="usa-banner__button-text">{t('banner.buttonText')}</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id={bannerId}>
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-media-block__img"
            src="/uswds/img/icon-dot-gov.svg"
            role="img"
            alt=""
          />
          <div class="usa-media-block__body">
            <p>
              <strong>{t('banner.dotGovTitle')}</strong>
              <br />
              A <strong>.gov</strong> website belongs to an official government
              organization in the United States.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-media-block__img"
            src="/uswds/img/icon-https.svg"
            role="img"
            alt=""
          />
          <div class="usa-media-block__body">
            <p>
              <strong>{t('banner.httpsTitle')}</strong>
              <br />
              A <strong>lock</strong>
              (<span class="icon-lock">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="52"
                  height="64"
                  viewBox="0 0 52 64"
                  class="usa-banner__lock-image"
                  role="img"
                  aria-labelledby={`${bannerId}-lock-title`}
                  focusable="false"
                >
                  <title id={`${bannerId}-lock-title`}>{t('banner.lockTitle')}</title>
                  <path
                    fill="#000000"
                    fill-rule="evenodd"
                    d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                  />
                </svg>
              </span>)
              or <strong>https://</strong> means you've safely connected to the
              .gov website. Share sensitive information only on official, secure
              websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
